:root {
  --font: "Inter", sans-serif;
  --font-size-regular: 14px;
  --font-weight-semibold: 600;
  --primary-110: #C256C7;
  --primary-100: #F26CF9;
  --primary-90: #F589FA;
  --primary-50: #FCD3FE;
  --primary-40: #FCE2FE;
  --primary-30: #FDEDFE;
  --secondary-110: #1C2346;
  --secondary-100: #37437D;
  --secondary-90: #5562A2;
  --secondary-70: #707DBF;
  --secondary-60: #ABB4DD;
  --secondary-50: #D3DAF9;
  --yellow-100: #FFCA39;
  --yellow-90: #FFEFC3;
  --grey-10: #FFFFFF;
  --grey-20: #F7F7F7;
  --grey-30: #EDEDED;
  --grey-40: #E0E0E1;
  --grey-50: #C3C3C4;
  --grey-60: #9F9FA1;
  --grey-70: #777779;
  --grey-80: #636365;
  --grey-90: #434345;
  --grey-100: #1E1E20;
  --cool-grey-10: #EEEFFF;
  --cool-grey-20: #E4E5F5;
  --cool-grey-30: #DDDEED;
  --cool-grey-40: #D1D2E0;
  --cool-grey-50: #B0B1BD;
  --cool-grey-60: #8F8F99;
  --cool-grey-70: #72737A;
  --cool-grey-80: #56565C;
  --cool-grey-90: #39393D;
  --cool-grey-100: #131314;
  --red-error: #FF0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.add-event-btn {
  padding: 0.5rem 1rem;
  background-color: var(--primary-100);
  color: var(--grey-10);
  border-radius: 2.1rem;
}

.add-event-btn:hover {
  color: var(--grey-10);
  background-color: var(--primary-110);
}

.form-group {
    text-align: left;
    margin-bottom: 2rem;
    &:focus {
      border-color: blue !important;
    }
}

.form-group label {
    display: block;
    font-size: 14px;
    font-weight: var(--font-semibold);
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--primary-100);
    border-radius: 0.9rem;
    font-size: 14px;

    &:focus {
      border: 1px solid #fff !important;
    }
}

form .field-validation-error {
    color: var(--red-error);
    font-size: 0.8rem;
    margin-top: 5px;
    display: block;
}

form .input-validation-error {
    border: 1px solid var(--red-error);
}

.sign-up-error {
  color: var(--red-error);
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}